In [30]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
brffs = pd.read_csv('../data/brfss.csv')

In [32]:
brffs.shape

(262049, 40)

In [33]:
brffs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262049 entries, 0 to 262048
Data columns (total 40 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   GENHLTH   262049 non-null  object
 1   HLTHPLN1  262049 non-null  object
 2   PERSDOC2  262049 non-null  object
 3   MEDCOST   262049 non-null  object
 4   CHECKUP1  262049 non-null  object
 5   _RFHYPE5  262049 non-null  object
 6   TOLDHI2   262049 non-null  object
 7   CVDINFR4  262049 non-null  object
 8   CVDCRHD4  262049 non-null  object
 9   CVDSTRK3  262049 non-null  object
 10  ASTHMA3   262049 non-null  object
 11  CHCSCNCR  262049 non-null  object
 12  CHCOCNCR  262049 non-null  object
 13  CHCCOPD2  262049 non-null  object
 14  ADDEPEV3  262049 non-null  object
 15  CHCKDNY2  262049 non-null  object
 16  DIABETE4  262049 non-null  object
 17  HAVARTH4  262049 non-null  object
 18  MARITAL   262049 non-null  object
 19  EDUCA     262049 non-null  object
 20  RENTHOM1  262049 non-null  object
 21  VETERAN3  262049 non-null  object
 22  EMPLOY1   262049 non-null  object
 23  INCOME2   262049 non-null  object
 24  DEAF      262049 non-null  object
 25  BLIND     262049 non-null  object
 26  DECIDE    262049 non-null  object
 27  DIFFWALK  262049 non-null  object
 28  DIFFDRES  262049 non-null  object
 29  DIFFALON  262049 non-null  object
 30  EXERANY2  262049 non-null  object
 31  _METSTAT  262049 non-null  object
 32  _URBSTAT  262049 non-null  object
 33  _IMPRACE  262049 non-null  object
 34  _RFBMI5   262049 non-null  object
 35  _RFSMOK3  262049 non-null  object
 36  _RFBING5  262049 non-null  object
 37  _RFDRHV7  262049 non-null  object
 38  _TOTINDA  262049 non-null  object
 39  target    262049 non-null  bool
dtypes: bool(1), object(39)
memory usage: 78.2+ MB

No NaN values?

In [34]:
brffs.head(2)

,GENHLTH,HLTHPLN1,PERSDOC2,MEDCOST,CHECKUP1,_RFHYPE5,TOLDHI2,CVDINFR4,CVDCRHD4,CVDSTRK3,...,EXERANY2,_METSTAT,_URBSTAT,_IMPRACE,_RFBMI5,_RFSMOK3,_RFBING5,_RFDRHV7,_TOTINDA,target
0,Good,Yes,"Yes, only one",No,Within past year (anytime less than 12 months ...,Yes,Yes,No,No,No,...,No,"Metropolitan counties (_URBNRRL = 1,2,3,4)","Urban counties (_URBNRRL = 1,2,3,4,5)","Black, Non-Hispanic",Yes,No,No,No,No physical activity or exercise in last 30 days,True
1,Fair,Yes,"Yes, only one",No,Within past year (anytime less than 12 months ...,No,No,No,No,No,...,Yes,"Metropolitan counties (_URBNRRL = 1,2,3,4)","Urban counties (_URBNRRL = 1,2,3,4,5)","White, Non-Hispanic",No,No,No,No,Had physical activity or exercise,True

In [35]:
brffs['CHECKUP1'].value_counts()

Within past year (anytime less than 12 months ago)         215875
Within past 2 years (1 year but less than 2 years ago)      24212
Within past 5 years (2 years but less than 5 years ago)     11880
5 or more years ago                                          9325
Never                                                         757
Name: CHECKUP1, dtype: int64

Our target variable is the CHECKUP1 column, which contains the responses to the question "About how long has it been since you last visited a doctor for a routine checkup?   [A routine checkup is a general physical exam, not an exam for a specific injury, illness, or condition.]" Specifically, we want to try and predict if someone gives an answer besides "Within past year (anytime less than 12 months ago)".

First, create a new coumn, "target" by converting this to a binary outcome. After you do this, drop the CHECKUP1 column from your dataframe so that you don't accidentally make predictions based off of it.

In [36]:
categorical_variables = ['CHECKUP1']
brffs = pd.get_dummies(brffs, columns = categorical_variables)

In [37]:
brffs.head(2)

,GENHLTH,HLTHPLN1,PERSDOC2,MEDCOST,_RFHYPE5,TOLDHI2,CVDINFR4,CVDCRHD4,CVDSTRK3,ASTHMA3,...,_RFSMOK3,_RFBING5,_RFDRHV7,_TOTINDA,target,CHECKUP1_5 or more years ago,CHECKUP1_Never,CHECKUP1_Within past 2 years (1 year but less than 2 years ago),CHECKUP1_Within past 5 years (2 years but less than 5 years ago),CHECKUP1_Within past year (anytime less than 12 months ago)
0,Good,Yes,"Yes, only one",No,Yes,Yes,No,No,No,No,...,No,No,No,No physical activity or exercise in last 30 days,True,0,0,0,0,1
1,Fair,Yes,"Yes, only one",No,No,No,No,No,No,No,...,No,No,No,Had physical activity or exercise,True,0,0,0,0,1

do i really need to drop 'CHECKUP1' column? Or did it disappear after I split it out?

In [38]:
brffs['CHECKUP1_Never'].value_counts()

0    261292
1       757
Name: CHECKUP1_Never, dtype: int64

Then, experiment with making a logistic regression model to predict the target variable using one or more of the other columns. Note that you will need to convert the precictor columns into dummy variable prior to fitting a model. What do you find?

In [39]:
brffs.rename(columns={'CHECKUP1_Within past year (anytime less than 12 months ago)': 'CHECKUP1_oneyr'}, inplace=True)

In [40]:
brffs.head(2)

,GENHLTH,HLTHPLN1,PERSDOC2,MEDCOST,_RFHYPE5,TOLDHI2,CVDINFR4,CVDCRHD4,CVDSTRK3,ASTHMA3,...,_RFSMOK3,_RFBING5,_RFDRHV7,_TOTINDA,target,CHECKUP1_5 or more years ago,CHECKUP1_Never,CHECKUP1_Within past 2 years (1 year but less than 2 years ago),CHECKUP1_Within past 5 years (2 years but less than 5 years ago),CHECKUP1_oneyr
0,Good,Yes,"Yes, only one",No,Yes,Yes,No,No,No,No,...,No,No,No,No physical activity or exercise in last 30 days,True,0,0,0,0,1
1,Fair,Yes,"Yes, only one",No,No,No,No,No,No,No,...,No,No,No,Had physical activity or exercise,True,0,0,0,0,1

In [41]:
categorical_variables = ['MEDCOST']
brffs = pd.get_dummies(brffs, columns = categorical_variables)

In [42]:
brffs.head(2)

,GENHLTH,HLTHPLN1,PERSDOC2,_RFHYPE5,TOLDHI2,CVDINFR4,CVDCRHD4,CVDSTRK3,ASTHMA3,CHCSCNCR,...,_RFDRHV7,_TOTINDA,target,CHECKUP1_5 or more years ago,CHECKUP1_Never,CHECKUP1_Within past 2 years (1 year but less than 2 years ago),CHECKUP1_Within past 5 years (2 years but less than 5 years ago),CHECKUP1_oneyr,MEDCOST_No,MEDCOST_Yes
0,Good,Yes,"Yes, only one",Yes,Yes,No,No,No,No,No,...,No,No physical activity or exercise in last 30 days,True,0,0,0,0,1,1,0
1,Fair,Yes,"Yes, only one",No,No,No,No,No,No,No,...,No,Had physical activity or exercise,True,0,0,0,0,1,1,0

In [43]:
X = brffs[['MEDCOST_No']]                 # Predictor variable (as a DataFrame)
y = brffs['CHECKUP1_oneyr']                   # Target

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    stratify = y,     # Keep the same proportions of the target in the training and test data
                                                    test_size = 0.25,
                                                    random_state = 321)

In [46]:
from sklearn.linear_model import LogisticRegression

In [47]:
logreg = LogisticRegression()         # Create a logistic regression model
logreg.fit(X_train, y_train)          # Fit it to the training data

LogisticRegression()

In [48]:
logreg.intercept_

array([0.69426987])

In [49]:
logreg.coef_

array([[0.96518083]])

In [50]:
y_pred_prob = logreg.predict_proba(X_test)[:,1]

In [54]:
i = 4

print('Patient Information:\n{}'.format(X_test.iloc[i]))
print('---------------------------------')
print('Predicted Probability of Seeing the doctor in the last year: {}'.format(y_pred_prob[i]))
print('Actual: {}'.format(y_test.iloc[i]))

Patient Information:
MEDCOST_No    0
Name: 192704, dtype: uint8
---------------------------------
Predicted Probability of Seeing the doctor in the last year: 0.6669161070522127
Actual: 1