In [29]:
import pandas as pd

In [30]:
physicians = pd.read_csv('../data/primary_care_physicians.csv')

 2. Filter `physicians` down to just the counties in Tennessee. Save the filtered dataframe back to `physicians`. Verify that the resulting dataframe has 95 rows.

In [31]:
physicians = physicians.loc[physicians['state'] == 'Tennessee']

In [32]:
physicians.head()

       FIPS      state    county  primary_care_physicians
2432  47001  Tennessee  Anderson                     39.0
2433  47003  Tennessee   Bedford                     15.0
2434  47005  Tennessee    Benton                      3.0
2435  47007  Tennessee   Bledsoe                      1.0
2436  47009  Tennessee    Blount                     90.0

In [33]:
physicians.shape

(95, 4)

 3. Look at the distribution of the number of primary care physicians. What do you notice?

In [34]:
physicians['primary_care_physicians'].value_counts()

2.0      8
5.0      7
9.0      5
0.0      4
12.0     4
4.0      4
18.0     4
1.0      4
3.0      4
21.0     3
6.0      3
15.0     3
19.0     2
14.0     2
26.0     2
23.0     2
38.0     2
8.0      2
39.0     2
22.0     2
55.0     1
806.0    1
13.0     1
91.0     1
520.0    1
27.0     1
53.0     1
11.0     1
137.0    1
82.0     1
199.0    1
52.0     1
90.0     1
403.0    1
16.0     1
40.0     1
37.0     1
7.0      1
30.0     1
226.0    1
338.0    1
10.0     1
43.0     1
129.0    1
665.0    1
17.0     1
Name: primary_care_physicians, dtype: int64

In [35]:
physicians['primary_care_physicians'].describe()

count     95.000000
mean      51.042105
std      129.311426
min        0.000000
25%        4.500000
50%       12.000000
75%       26.500000
max      806.000000
Name: primary_care_physicians, dtype: float64

 4. Now, import the population by county dataset (`population_by_county.csv`) into a DataFrame named `population`.

In [36]:
population = pd.read_csv('../data/population_by_county.csv')

In [37]:
population.head()

    FIPS  population          county     state  urban
0  17051       21565  Fayette County  ILLINOIS  Rural
1  17107       29003    Logan County  ILLINOIS  Rural
2  17165       23994   Saline County  ILLINOIS  Rural
3  17097      701473     Lake County  ILLINOIS  Urban
4  17127       14219   Massac County  ILLINOIS  Rural

 5. Merge the `physicians` DataFrame with the `population` DataFrame. Keep only the values for Tennessee. When you merge, be sure the include both the `population` and `urban` columns in the merged results. Save the result of the merge back to `physicians`.

In [38]:
population = population.loc[population['state'] == 'TENNESSEE']

In [39]:
population.head()

      FIPS  population            county      state  urban
283  47165      183437     Sumner County  TENNESSEE  Urban
284  47169       10231  Trousdale County  TENNESSEE  Urban
285  47027        7654       Clay County  TENNESSEE  Rural
405  47157      936374     Shelby County  TENNESSEE  Urban
406  47077       27977  Henderson County  TENNESSEE  Rural

first filter state and save as new df, need to change state case? county also needs to drop county from name.

In [40]:
physicians['state'] = physicians['state'].str.upper()

In [41]:
physicians.head()

       FIPS      state    county  primary_care_physicians
2432  47001  TENNESSEE  Anderson                     39.0
2433  47003  TENNESSEE   Bedford                     15.0
2434  47005  TENNESSEE    Benton                      3.0
2435  47007  TENNESSEE   Bledsoe                      1.0
2436  47009  TENNESSEE    Blount                     90.0

In [42]:
population['county'] = population['county'].str.replace('County', '')

Above code removed 'County' from column in population

In [43]:
population.head()

      FIPS  population      county      state  urban
283  47165      183437     Sumner   TENNESSEE  Urban
284  47169       10231  Trousdale   TENNESSEE  Urban
285  47027        7654       Clay   TENNESSEE  Rural
405  47157      936374     Shelby   TENNESSEE  Urban
406  47077       27977  Henderson   TENNESSEE  Rural

In [44]:
physicians.head()

       FIPS      state    county  primary_care_physicians
2432  47001  TENNESSEE  Anderson                     39.0
2433  47003  TENNESSEE   Bedford                     15.0
2434  47005  TENNESSEE    Benton                      3.0
2435  47007  TENNESSEE   Bledsoe                      1.0
2436  47009  TENNESSEE    Blount                     90.0

In [48]:
physicians['county'].value_counts()

Rhea          1
Chester       1
Fayette       1
Obion         1
Marion        1
             ..
Polk          1
Hickman       1
Sequatchie    1
Monroe        1
Henderson     1
Name: county, Length: 95, dtype: int64

In [50]:
population['county'].value_counts()

Meigs          1
Williamson     1
Morgan         1
Franklin       1
Putnam         1
              ..
Cocke          1
Chester        1
Knox           1
Montgomery     1
Sequatchie     1
Name: county, Length: 95, dtype: int64

When you merge, be sure the include both the population and urban columns in the merged results. Save the result of the merge back to physicians.

couldn't merge on 'county' even though i tried to remove 'County' from column in population, the table woudn't print out. I tried to merge on 'state' but would get multiple entries for each row. 
    merging on 'FIPS' kept the correct number of rows? Unsure why this problem occurs

In [52]:
pd.merge(left = population, right = physicians, left_on = 'FIPS', right_on = 'FIPS')

,FIPS,population,county_x,state_x,urban,state_y,county_y,primary_care_physicians
0,47165,183437,Sumner,TENNESSEE,Urban,TENNESSEE,Sumner,91.0
1,47169,10231,Trousdale,TENNESSEE,Urban,TENNESSEE,Trousdale,2.0
2,47027,7654,Clay,TENNESSEE,Rural,TENNESSEE,Clay,2.0
3,47157,936374,Shelby,TENNESSEE,Urban,TENNESSEE,Shelby,806.0
4,47077,27977,Henderson,TENNESSEE,Rural,TENNESSEE,Henderson,7.0
...,...,...,...,...,...,...,...,...
90,47123,46064,Monroe,TENNESSEE,Rural,TENNESSEE,Monroe,9.0
91,47079,32284,Henry,TENNESSEE,Rural,TENNESSEE,Henry,22.0
92,47033,14399,Crockett,TENNESSEE,Rural,TENNESSEE,Crockett,0.0
93,47095,7401,Lake,TENNESSEE,Rural,TENNESSEE,Lake,0.0
94,47093,461104,Knox,TENNESSEE,Urban,TENNESSEE,Knox,520.0

In [57]:
physicians = pd.merge(left = population[['FIPS', 'population', 'urban']],
         right = physicians[['FIPS', 'county', 'state', 'primary_care_physicians']])

In [58]:
physicians.head(2)

    FIPS  population  urban     county      state  primary_care_physicians
0  47165      183437  Urban     Sumner  TENNESSEE                     91.0
1  47169       10231  Urban  Trousdale  TENNESSEE                      2.0

In [68]:
physicians.shape

(95, 6)

6. How many Tennessee counties are considered urban? (38)

In [71]:
physicians.loc[(physicians['urban'] == 'Urban')].describe()

               FIPS     population  primary_care_physicians
count     38.000000      38.000000                38.000000
mean   47103.789474  131408.552632               108.315789
std       60.904071  194462.806866               191.346736
min    47001.000000   10231.000000                 1.000000
25%    47049.500000   23286.250000                 6.500000
50%    47112.000000   56522.000000                22.500000
75%    47160.500000  134981.250000                90.750000
max    47189.000000  936374.000000               806.000000

In [72]:
population.loc[(population['urban'] == 'Urban')].describe()

               FIPS     population
count     38.000000      38.000000
mean   47103.789474  131408.552632
std       60.904071  194462.806866
min    47001.000000   10231.000000
25%    47049.500000   23286.250000
50%    47112.000000   56522.000000
75%    47160.500000  134981.250000
max    47189.000000  936374.000000

 7. The State Health Access Data Assistance Center (SHADAC) (https://www.shadac.org/) classifies counties into three groups based on the number of residents per primary care physician. First, counties with fewer than 1500 residents per primary care physician are considered to have an "adequate" supply. Counties with at least 1500 residents but fewer than 3500 residents per primary care physician are considered to have a "moderately inadequate" supply, and counties with at least 3500 residents per primary care physician are considered to have a "low inadequate" supply. How many counties in Tennessee are in each group?

In [85]:
physicians.loc[(physicians['population'] / physicians['primary_care_physicians'] < 1500)].nunique()

FIPS                       14
population                 14
urban                       2
county                     14
state                       1
primary_care_physicians    14
dtype: int64

In [82]:
physicians.loc[(physicians['population'] / physicians['primary_care_physicians'] >= 1500) & 
               (physicians['population'] / physicians['primary_care_physicians'] < 3500)].nunique()

FIPS                       50
population                 50
urban                       2
county                     50
state                       1
primary_care_physicians    29
dtype: int64

In [86]:
physicians.loc[(physicians['population'] / physicians['primary_care_physicians'] >= 3500)].nunique()

FIPS                       31
population                 31
urban                       2
county                     31
state                       1
primary_care_physicians    10
dtype: int64

 8. Does there appear to be any detectable relationship between whether a county is urban or rural and its supply of primary care physicians?
 More rural counties have moderately inadequate/low inadequate groups

In [87]:
physicians.loc[(physicians['population'] / physicians['primary_care_physicians'] < 1500)
              & (physicians['urban'] == 'Urban')].nunique()

FIPS                       9
population                 9
urban                      1
county                     9
state                      1
primary_care_physicians    9
dtype: int64

In [88]:
physicians.loc[(physicians['population'] / physicians['primary_care_physicians'] < 1500)
              & (physicians['urban'] == 'Rural')].nunique()

FIPS                       5
population                 5
urban                      1
county                     5
state                      1
primary_care_physicians    5
dtype: int64

In [89]:
physicians.loc[(physicians['population'] / physicians['primary_care_physicians'] >= 1500) & 
               (physicians['population'] / physicians['primary_care_physicians'] < 3500)
              & (physicians['urban'] == 'Rural')].nunique()

FIPS                       31
population                 31
urban                       1
county                     31
state                       1
primary_care_physicians    21
dtype: int64

In [90]:
physicians.loc[(physicians['population'] / physicians['primary_care_physicians'] >= 1500) & 
               (physicians['population'] / physicians['primary_care_physicians'] < 3500)
              & (physicians['urban'] == 'Urban')].nunique()

FIPS                       19
population                 19
urban                       1
county                     19
state                       1
primary_care_physicians    19
dtype: int64

In [91]:
physicians.loc[(physicians['population'] / physicians['primary_care_physicians'] >= 3500) &
              (physicians['urban'] == 'Urban')].nunique()

FIPS                       10
population                 10
urban                       1
county                     10
state                       1
primary_care_physicians     7
dtype: int64

In [92]:
physicians.loc[(physicians['population'] / physicians['primary_care_physicians'] >= 3500) &
              (physicians['urban'] == 'Rural')].nunique()

FIPS                       21
population                 21
urban                       1
county                     21
state                       1
primary_care_physicians     8
dtype: int64

questions to ask: if i wanted to do the 'population'/'pcp' calculation, add that to df than sort?